<!DOCTYPE html>
<html>
<head>
	<title> NSCounter- The Complete Word Counter App</title>
	<meta charset="utf-8"/>
	<meta name="description" content="a complete word counting app, counts total number of words, number of repetitiion of each words, count each word, most used word, count specific words"/>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css"/>
	<link rel="stylesheet" href="{% static 'css/basefile.css' %}" type="text/css"/>
</head>
<body>
	<main role="main">
		<div class="jumbotron">
			<div class="container">
				<h1 style="text-align: center;"> NSCounter- The Complete Word Counter App</h1>
			</div>
		</div>
	</main>
  
  <div class="container">
  	
  		
  			{%block content%}
			{%endblock content%}	
  		
  		
  	
  </div>
  
    
   
	

</body>
</html>