{%extends "base.html" %}
{%block content%}

   <div class="indexForm">
	<form name="textform" action="{% url 'counter' %}" method="post" >
  		<div class="form-group">
    		{% csrf_token %}
			<!-- {{form.as_p}} this kind of form seems to be important only when taking inputs from user and this is not the case here -->
			<textarea cols="100" rows="13" placeholder="Paste your text here" name="maintext"></textarea> <br>
			<p class="searchblock">Want to search any specific word? <input type="text" placeholder="Search word" name="searchword"></p><br>
			<p><input type="submit" name="" value="Submit"></p>
  		</div>
	</form>
  </div>




{%endblock content%}